.navbar {
  border-bottom: #6156D9 3px solid;
  opacity: 0.8;
  padding: 0;
}

.nav-link:hover {
  font-size: 1.1rem;
}

.nav-item a {
  color: #fff;
  cursor: pointer;
}

.activated {
  text-decoration: underline;
}

.modal-content {
  background-color: rgb(241, 241, 222);
}
