<div class="card text-center card-form">
  <div class="card-body pb-5">
    <h3>Sign in to see our shops</h3>
    <p>please fill out this form to login</p>
    <form [formGroup]="signinForm" (ngSubmit)="onSignin()">
      <div class="form-group">
        <input
          formControlName="email"
          type="email"
          class="form-control form-control-lg"
          placeholder="Email"
        />
        <span
          *ngIf="
            !signinForm.get('email').valid &&
            signinForm.get('email').touched &&
            signinForm.get('email').dirty
          "
          class="small"
          >Please enter a valid email</span
        >
      </div>

      <div class="form-group">
        <input
          formControlName="password"
          type="password"
          class="form-control form-control-lg"
          placeholder="Choose a password"
        />
        <span
          *ngIf="
            !signinForm.get('password').valid &&
            signinForm.get('password').touched &&
            signinForm.get('password').dirty
          "
          class="small"
          >Please enter a valid password - Min : 6 charachters</span
        >
      </div>
      <div class="text-left mb-3">
        <a class="text-white" routerLink="/signin">Forgot password? </a>
      </div>
      <div class="text-left mb-3">
        <span>Not registred? </span>
        <a class="text-white" routerLink="/signup">Signup!</a>
      </div>
      <input
        type="submit"
        value="Login"
        class="btn btn-outline-light btn-block"
        [disabled]="signinForm.invalid"
      />
    </form>
  </div>
</div>
